{% extends "layout.njk" %}

{% block content %}

    <div class="blog">
        <h1>Blog</h1>
    </div>

    <section class="cards">
    {% for item in items  %}
        <div class="card" id="{{item.id}}"> 
            <div class="card_image">
                <img src="https://blog.rocketseat.com.br/{{item.image}}" alt=Img></img>
                {% if item.featured %}
                    <div class="featured"> Featured </div>
                {% endif %}
            </div>
            <div class="card_description">
                <p>{{item.title}}</p>
            </div>
            <div class="card_info">
                <p>{{item.author}}</p>
                <p class="card_time">{{item.duration}}</p>
            </div>
        </div> 
    {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons"> close </i>
            </a>
            <div class="modal-content">
                <iframe src="https://blog.rocketseat.com.br/nextjs-novidades-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance/" frameborder="0"></iframe>

            </div>
        </div>
    </div>

    <footer>
        <div id="SocialMedias">
        <a href="https://github.com/Rocketseat" target="blank">
            <img src="https://www.flaticon.com/br/premium-icon/icons/svg/2504/2504911.svg" alt="GitHub">
        </a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="blank"> 
            <img src="https://www.flaticon.com/br/premium-icon/icons/svg/2504/2504918.svg" alt="Instagram"> 
        </a>  
        <a href="https://www.facebook.com/rocketseat/" target="blank">   
            <img src="https://www.flaticon.com/br/premium-icon/icons/svg/2504/2504903.svg" alt="Facebook">                    
        </a> 
    </footer>

    <script src="script.js"></script>
 
 {% endblock %}
    